@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.Dictionary .subHeading h2 {
  font-family: "Press Start 2P", cursive;
  margin: 40px auto;
  text-transform: capitalize;
  color: #051937;
}

.Dictionary .phoneticContainer h3 {
  font-family: "Roboto", sans-serif;
  margin: 26px auto;
}

.Dictionary .meaningContainer ul {
  padding: 0;
  list-style: none;
}

.Dictionary .meaningContainer .partOfSpeech,
.Dictionary .meaningContainer .definition,
.Dictionary .meaningContainer .example {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  line-height: 1.4;
}

.Dictionary .meaningContainer .partOfSpeech {
  font-size: 26px;
}

.Dictionary .meaningContainer .definition {
  font-size: 20px;
}

.Dictionary .meaningContainer .example {
  font-size: 18px;
  font-style: italic;
  color: #004d7a;
}

@media screen and (max-width: 540px) {
  .Dictionary .meaningContainer .partOfSpeech,
  .Dictionary .meaningContainer .definition {
    font-size: 20px;
  }

  .Dictionary .meaningContainer .example {
    font-size: 18px;
  }
}
